:root {
  --main: #000000;
  --about: #f4e6db;
}

header {
  background-color: var(--main);
  padding: 0.3rem 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

header > button {
  background-color: var(--main);
  color: white;
  padding: 0.2rem 1rem;
  border: solid 1px white;
}

.about {
  background-color: var(--about);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 0.75rem;
}

.user-headshot {
  width: 30vw;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: 100% 50%;
}

.work,
.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.work > h2,
.contact > h2 {
  align-self: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50ch, 1fr));
  gap: 1.5rem;
}

.project {
  display: grid;
  border: solid 1px red;
  justify-items: center;
  gap: 1rem;
}

.project > img {
  width: 40ch;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: top center;
}

.contact {
  background-color: var(--about);
  padding: 1rem;
}

.contact-channels {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact-channels > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-channels > div > img {
  width: 5ch;
  display: flex;
}

.contact-form {
  align-self: center;
  border: solid 1px var(--main);
  display: grid;
  gap: 0.25rem;
  padding: 0.5rem;
}

.message-input {
  height: 8rem;
}

.contact-form > button {
  background-color: var(--main);
  color: white;
  padding: 0.2rem 1rem;
  border: solid 1px white;
}

footer {
  margin-top: 0;
}
