:root {
    --main: #000000;
    --about: #f4e6db;
}

header {
    background-color: var(--main);
    padding: 0.3rem 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

header > button {
    background-color: var(--main);
    color: white;
    padding: 0.2rem 1rem;
    border: solid 1px white;
}

.about {
    background-color: var(--about);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 0.75rem;
}

.user-headshot {
    width: 30vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 100% 50%;
}